<h3> <%= session[:player_name] %>, you have $<%= session[:player_bankroll]%></h3>
<h4>Please place your bet for this round</h4>
<form method='post' action='bet'>
<input type='text' name='bet_amount'
<br>
<input class='btn' type='submit' value='Place your bet'>
